@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link href="@Href("~/Content/customer/home.index.css")" type="text/css" rel="stylesheet"/>
}

@section jovlandTitle{
}
@section jovlandCrumbs{
}

<div class="companyContainer">
    <div class="col-md-8">
        <span class="companyTitle">Shanghai Jovland Industrial Co.Ltd.</span>
        <div>
            Shanghai Jovland Industrial Co.Ltd.    is specialized in providing the overall securing solution for shipping cargo. We could provide loading design and lashing design of cargo, drawing approval and products for container ship, Ro-Ro ship, lumber carrier and bulk carriers with plenty of knowledge and experience.
        </div>
        <div>
            Company products include container lashing equipment, car/truck lashing equipment, timber lashing equipment, heavy cargo lashing equipment, rigging and cargo lifting equipment, etc.
        </div>
        <div>
            Factory passed the ISO90001 quality management system certification; all products are approved by Classification Societies. Include ABS, GL, LR, DNV, BV, CCS, RINA, KR and NK, etc
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="companyServicePro">
    Better Quality, Better Service, Safer Logistics
</div>

<div class="container">
    <ul class="row companyImages">
        <li>
            <img src="@Href("~/Content/images/home.Instroduction/changfang1.JPG")" />
            <p>Plant-one</p>
        </li>
        <li>
            <img src="@Href("~/Content/images/home.Instroduction/changfang2.JPG")" />
            <p>Plant-two</p>
        </li>
        <li>
            <img src="@Href("~/Content/images/home.Instroduction/Heattreatmentmachine.JPG")" />
            <p>Heat treatment machine</p>
        </li>
        <li>
            <img src="@Href("~/Content/images/home.Instroduction/paint.JPG")"  />
            <p>Paint</p>
        </li>
    </ul>
</div>
