@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link href="@Href("~/Content/customer/home.index.css")" type="text/css" rel="stylesheet"/>
    <script src="@Url.Content("~/Scripts/jqthumb/jqthumb.js")" type="text/javascript"></script>
    <script type="text/javascript">

        $(function () {


            $('.aboutRightDivImg img').jqthumb({
                height: 150,
                width: 300,
                after: function (imgObj) {
                    imgObj.css('opacity', 0).animate({ opacity: 1 }, 1000);
                }
            });


            $('.companyImages li div img').jqthumb({
                height: 150,
                width: 230,
                after: function (imgObj) {
                    imgObj.css('opacity', 0).animate({ opacity: 1 }, 1000);
                }
            });
        })
    </script>
}

@section jovlandTitle{
}
@section jovlandCrumbs{
}


<div class="companyContainer">
    <div class="row">
        <div class="col-md-8">
            <h3><strong>Shanghai Jovland Industrial Co.Ltd.</strong></h3>
            <div class="companyContent">
                <strong>Shanghai Jovland Industrial Co.Ltd.</strong> is specialized in providing the overall securing solution for shipping cargo. We could provide loading design and lashing design of cargo, drawing approval and products for container ship, Ro-Ro ship, lumber carrier and bulk carriers with plenty of knowledge and experience.
            </div>
            <div class="companyContent">
                Company products include container lashing equipment, car/truck lashing equipment, timber lashing equipment, heavy cargo lashing equipment, rigging and cargo lifting equipment, etc.
            </div>
            <div class="companyContent">
                Factory passed the ISO90001 quality management system certification; all products are approved by Classification Societies. Include ABS, GL, LR, DNV, BV, CCS, RINA, KR and NK, etc.
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <div class="text-center">
                    <div class="aboutRightDivImg">
                        <img src="@Href("~/Content/images/home.Instroduction/changfang1.JPG")" width="300" height="150"/>
                    </div>
                </div>
                <p class="text-center">Plant-one</p>
            </div>
            <div>
                <div class="text-center">
                    <div class="aboutRightDivImg">
                        <img src="@Href("~/Content/images/home.Instroduction/changfang2.JPG")" width="300" height="150"/>
                    </div>
                </div>
                <p class="text-center">Plant-two</p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <ul class="row companyImages">
        <li>
            <div>
                <img src="@Href("~/Content/images/home.Instroduction/changfang1.JPG")" />
            </div>
            <p class="text-center">Plant-one</p>
        </li>
        <li>
            <div>
                <img src="@Href("~/Content/images/home.Instroduction/changfang2.JPG")" />
            </div>
            <p class="text-center">Plant-two</p>
        </li>
        <li>
            <div>
                <img src="@Href("~/Content/images/home.Instroduction/Heattreatmentmachine.JPG")" />
            </div>
            <p class="text-center">Heat treatment machine</p>
        </li>
        <li>
            <div>
                <img src="@Href("~/Content/images/home.Instroduction/paint.JPG")"  />
            </div>
            <p class="text-center">Paint</p>
        </li>
    </ul>
</div>
