@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script type="text/javascript">
        $(function () {
        });
    </script>
}
@section jovlandTitle{
}
@section jovlandCrumbs{
    <ul>
        <li><a href="@Href("~/Services/Index")">Design & Services</a></li>
    </ul>
}


<!-- services option4 -->
<div class="services_option4">
    <h4>Ouer Services</h4>
    <ul>
        <li class="design">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Fixed Fittings on deck</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>
        <li class="flexible">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Fixed Fittings in hold</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>
        <li class="fonts">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Loose Fittings on deck</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>
        <li class="support">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Loose Fittings on deck</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>

   
        <li class="easy">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Turnbuckle</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>
        <li class="color">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Liffting Devices</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>
        <li class="color">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Liffting Devices</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>
        <li class="easy">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Lahing Rod</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>


    </ul>

    <ul>
        <li class="easy">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Fixd Fittings</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>
        <li class="color">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Loose Fittings</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>
        <li class="support">
            <a class="circle_link" href="#">&nbsp;</a>
            <img src="@Href("~/Content/images/img.png")" width="100" height="105" alt="" />
            <h4>Timber Lashing Systems</h4>
            <p><span>Subhead Goes HEre</span></p>
            <p>Lid est laborum dolores un rums fugats untras. Etraste sitsharums ciatis unde omnis iste natus error sit un voluptates sit accusantium doloremque sits laudantium, totam ister rem aperiam, eaque ipsa quae ab illo inventore sitses veritatis etras quasi architecto beatae vitaese dictareas sunt explicabo. Nemo enim ipsam volu.</p>
        </li>


    </ul>
</div>
<!-- /services option4 -->
s